<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>

</head>
<title>CHI Corporation project</title>
<body>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1 "/>

<link rel="stylesheet" href="w3/w3.css"/>
<link rel="stylesheet" href="w3/w3-theme-teal.css"/>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>


<!--<script src='https://javascriptbase64.googlecode.com/files/base64.js' type='text/javascript'></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.js"></script>


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="index"><span class="glyphicon glyphicon-home"></span>To main</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="index2"><span class="glyphicon glyphicon-list-alt"></span>Transactions</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand " href="index4"><span class="glyphicon glyphicon-list-alt"></span>Debtors</a>
        </div>
        <ul class="nav navbar-nav">
            <!--<li><a href="index2.html" class="glyphicon glyphicon-list-alt">Transactions</a></li>-->

            <li><a href="#" onclick="document.getElementById('id01').style.display='block'">
                <span class="glyphicon glyphicon-plus"></span>Add Person</a></li>
            <li><a href="#" onclick="document.getElementById('id03').style.display='block'">
                <span class="glyphicon glyphicon-usd"></span>Cash out</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="index3" class="glyphicon glyphicon-list-alt w3-theme">Deleted</a></li>
            <li><a href="#" onclick="Refresh()"><span class="glyphicon glyphicon-refresh"></span> Refresh </a></li>
            <!--<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Log IN</a></li>-->
            <!--<li><a href="/login"><span class="glyphicon glyphicon-log-out"></span> Log OUT</a></li>-->

            <li>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-danger btn-block" ><span lass="glyphicon glyphicon-log-out"></span> Log out</button>
                </form>
            </li>

        </ul>
    </div>
</nav>

<!--Create Modal -->
<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-8 w3-animate-top">

        <header class="w3-container w3-theme-l1">
            <span onclick="document.getElementById('id01').style.display='none'" class="w3-closebtn">×</span>
            <h4>Create new Person</h4>
        </header>

        <div class="w3-row-padding">

            <div class="w3-half">

                <form class="w3-container w3-card-4">
                    <div>
                        <div class="w3-half"><br/>
                            <input class="w3-input" type="text" id="2name" />
                            <label class="w3-label">Second name</label>
                        </div>
                        <div class="w3-half"><br/>
                            <input class="w3-input" type="text" id="name" />
                            <label class="w3-label">Name</label>
                        </div>
                    </div>
                    <div class="w3-group">
                        <input class="w3-input" type="text" id="3name" />
                        <label class="w3-label">Third Name</label>
                    </div>
                    <div class="w3-half">
                        <!--<input class="w3-input" type="text" id="department" >-->
                        <select class="form-control" id="department">
                            <option></option>
                            <option>.NET</option>
                            <option>ACCOUNTANT</option>
                            <option>ANDROID</option>
                            <option>BUSINESS ANALYST</option>
                            <option>CTO</option>
                            <option>DB</option>
                            <option>DESIGNER</option>
                            <option>ENGLISH TEACHER</option>
                            <option>IOS</option>
                            <option>JAVA</option>
                            <option>JAVA SCRIPT</option>
                            <option>CONTENT WRITER/SMM MANAGER</option>
                            <option>NODE JS</option>
                            <option>OFFICE MANAGER</option>
                            <option>PHP</option>
                            <option>PM</option>
                            <option>PYTHON</option>
                            <option>QA</option>
                            <option>RECRUTER</option>
                            <option>RUBY</option>
                            <option>SALES</option>
                            <option>SYSTEM ADMINISTRATOR</option>
                            <option>DRIVER</option>
                            <option>SECURITY SERVICE</option>
                        </select>
                        <label class="w3-label">Department</label>
                    </div>
                    <div class="w3-half">
                        <select class="form-control" id="position">
                            <option></option>
                            <option>Intern</option>
                            <option>Junior</option>
                            <option>Middle</option>
                            <option>Senior</option>
                            <option>Team Lead</option>
                        </select>
                        <label class="w3-label">Position</label>
                    </div>
                    <div class="w3-half">
                        <input id="date_recruit" class="w3-input" type="date" placeholder="01.01.2016"/>
                        <label class="w3-label">Date Recruit</label>
                        <br/>
                    </div>
                    <div class="w3-half">
                        <!--<input class="w3-input" type="number" id="pweek" min="1" max="31" placeholder="1-31" >-->
                        <select class="form-control" id="pweek">
                            <option>I</option>
                            <option>10</option>
                            <option>15</option>
                            <option>25</option>
                        </select>
                        <label class="w3-label">Payment day</label>
                    </div>
                    <div class="w3-group">
                        <h2>Comments</h2>
                        <textarea class="form-control" rows="5" id="comment"></textarea>
                    </div>
                </form>
            </div>
            <div class="w3-half">
                <form class="w3-container w3-card-4">
                    <div class="w3-group ">
                        <div class="w3-half">
                            <label class="w3-label">CASH BACK </label>
                        </div>
                        <div class="w3-half">
                            Dinners UAH<input class="w3-input w3-border" type="number" id="dinners" value="0"/>
                        </div>
                        <div class="w3-half">
                            Taxes UAH<input class="w3-input w3-border" type="number" id="taxes" value="0"/>
                        </div>
                        <div class="w3-half">
                            Overtimes USD<input class="w3-input w3-border" type="number" id="overtimes" value="0"/>
                        </div>
                        <div class="w3-half">
                            Bonus USD<input class="w3-input w3-border" type="number" id="bonus" value="0"/>
                        </div>
                        <div class="w3-half">
                            Another UAH<input class="w3-input w3-border" type="number" id="another" value="0"/>
                        </div>
                        <!--<label class="w3-label">Cash back $</label>-->
                        <!--<input class="form-control" id="cashback" type="number" value="0">-->
                    </div>

                    <div class="w3-group w3-half">
                        <label class="w3-label">SALARY USD</label>
                        <input class="form-control" id="rate" type="number" value="0"/>
                    </div>
                    <div class="w3-section" style="width:50%">
                        <button type="reset" class="w3-btn-block w3-blue-grey" onclick="RestPut()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Update Modal -->
<div id="id02" class="w3-modal">
    <div class="w3-modal-content w3-card-8 w3-animate-top">

        <header class="w3-container w3-theme-l1">
            <span onclick="document.getElementById('id02').style.display='none'" class="w3-closebtn">×</span>
            <h4>Updated Person</h4>
        </header>

        <div class="w3-row-padding">

            <div class="w3-half">

                <form class="w3-container w3-card-4">
                    <div class="w3-half"><br/>
                        <label class="w3-label">Person id:</label>
                        <input class="form-control" id="upId" type="number" disables="disabled"/>
                    </div>
                    <div class="w3-group w3-half">
                        <label class="w3-label">Count</label>
                        <input class="form-control" id="upCount" type="number"/>
                    </div>
                    <div>
                        <div class="w3-half"><br/>
                            <input class="w3-input" type="text" id="upName" />
                            <label class="w3-label">Name</label>
                        </div>
                        <div class="w3-half"><br/>
                            <input class="w3-input" type="text" id="upName2" />
                            <label class="w3-label">Second name</label>
                        </div>
                    </div>
                    <div class="w3-group">
                        <input class="w3-input" type="text" id="upName3" />
                        <label class="w3-label">Third Name</label><br/>
                    </div>
                    <div class="w3-half">
                        <select class="form-control" id="upDepartment">
                            <option></option>
                            <option>.NET</option>
                            <option>ACCOUNTANT</option>
                            <option>ANDROID</option>
                            <option>BUSINESS ANALYST</option>
                            <option>CTO</option>
                            <option>DB</option>
                            <option>DESIGNER</option>
                            <option>ENGLISH TEACHER</option>
                            <option>IOS</option>
                            <option>JAVA</option>
                            <option>JAVA SCRIPT</option>
                            <option>CONTENT WRITER/SMM MANAGER</option>
                            <option>NODE JS</option>
                            <option>OFFICE MANAGER</option>
                            <option>PHP</option>
                            <option>PM</option>
                            <option>PYTHON</option>
                            <option>QA</option>
                            <option>RECRUTER</option>
                            <option>RUBY</option>
                            <option>SALES</option>
                            <option>SYSTEM ADMINISTRATOR</option>
                            <option>DRIVER</option>
                            <option>SECURITY SERVICE</option>
                        </select>
                        <label class="w3-label">Department</label>
                        <br/>
                    </div>
                    <div class="w3-half">
                        <select class="form-control" id="upPosition">
                            <option></option>
                            <option>Intern</option>
                            <option>Junior</option>
                            <option>Middle</option>
                            <option>Senior</option>
                            <option>Team Lead</option>
                        </select>
                        <label class="w3-label">Position</label>
                    </div>
                    <div class="w3-half">
                        <input class="w3-input" type="text" id="upDate_recruit" />
                        <label class="w3-label">Date Recruit</label>
                    </div>
                    <div class="w3-half">
                        <!--<input class="w3-input" type="number" id="upCash_date" min="1" max="31" >-->
                        <select class="form-control" id="upCash_date">
                            <option>I</option>
                            <option>10</option>
                            <option>15</option>
                            <option>25</option>
                        </select>
                        <label class="w3-label">Payment day</label><br/>
                    </div>
                </form>
            </div>
            <div class="w3-half">
                <form class="w3-container w3-card-4">
                    <div class="w3-group">
                        <h2>Comments</h2>
                        <textarea class="form-control" rows="5" id="upComments"></textarea>
                    </div>
                    <div class="w3-group ">
                        <div class="w3-half">
                            <label class="w3-label">CASH BACK </label>
                        </div>
                        <div class="w3-half">
                            Dinners UAH<input class="w3-input w3-border" type="number" id="upDinners"  placeholder="Dinners"/>
                        </div>
                        <div class="w3-half">
                            Taxes UAH<input class="w3-input w3-border" type="number" id="upTaxes" placeholder="Taxes"/>
                        </div>
                        <div class="w3-half">
                            Overtimes USD<input class="w3-input w3-border" type="number" id="upOvertimes" placeholder="Overtimes"/>
                        </div>
                        <div class="w3-half">
                            Bonus USD<input class="w3-input w3-border" type="number" id="upBonus" placeholder="Bonus"/>
                        </div>
                        <div class="w3-half">
                            Another UAH<input class="w3-input w3-border" type="number" id="upAnother" placeholder="Another"/>
                        </div>
                        <!--<label class="w3-label">Cash back $</label>-->
                        <!--<input class="form-control" id="cashback" type="number" value="0">-->
                    </div>

                    <div class="w3-group w3-half">
                        <label class="w3-label">SALARY USD</label>
                        <input class="form-control" id="upRate" type="number" value="0"/>

                    </div>

                    <div class="w3-group w3-half">
                        <!--<div class="w3-section" style="width:50%">-->
                        <br/>
                        <button type="reset" class="w3-btn-block w3-blue-grey" onclick="RestUpdate()">Update Person
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!--Cash Modal -->
<div id="id03" class="w3-modal2">
    <div class="w3-modal2-content w3-card-8 w3-animate-top">

        <header class="w3-container w3-theme-l1">
            <span onclick="document.getElementById('id03').style.display='none'" class="w3-closebtn">×</span>
            <h4>Cash out $$</h4>
        </header>
        <div>
            <div class="w3-row-padding">
                <form class="w3-container w3-card-4">
                    <div>
                        <div class="w3-half"><br/>
                            <input class="w3-input w3-border w3-round" type="number" id="cash_id" min="1" />
                            <label class="w3-label">id</label>
                        </div>
                        <div class="w3-half"><br/>
                            <input id="pay_date" class="w3-input" type="date" placeholder="01.01.2016"/>
                            <label class="w3-label">Date</label>
                        </div>
                    </div>
                    <div>
                        <div class="w3-half"><br/>
                            <input class="w3-input w3-border w3-round" type="number" id="cash_pay" min="1" />
                            <label class="w3-label">Pay</label>
                        </div>
                        <div class="w3-half"><br/>
                            <input class="w3-input w3-border w3-round" type="number" id="cash_count"  value="0" />
                            <label class="w3-label">Balance</label>
                        </div>
                    </div>
                    <div>
                        <div class="w3-half"><br/>
                            <input class="w3-input w3-border w3-round" type="number" id="cash_course" min="1" />
                            <label class="w3-label">Course $</label>
                        </div>
                    </div>
                    <div class="w3-group w3-half">
                        <!--<div class="w3-section" style="width:50%">-->
                        <br/>
                        <button type="reset" class="w3-btn-block w3-blue-grey" onclick="RestCash()">Give Cash</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>

    var InputFile = function () {
        var file = $("#idfile").val().replace("C:\\fakepath\\","");

        $.ajax({
            method: 'GET',
            type: 'GET',
            url: '/person/input/'+file+'.xlsx',
            data: {
                file
            },
            async: true,
            success: function (result) {
                alert('success!');
            }
        });
        document.getElementById('id04').style.display = 'none';
        //location.reload();
    }

    var Refresh = function () {
        location.reload();
    }

    var RestCash = function () {
        var JSONObject1 = {
            "cash_id": $("#cash_id").val()
            , "pay_date": $("#pay_date").val().toString()
            , "cash_pay": $("#cash_pay").val()
            , "count": $("#cash_count").val()
            , "cash_course": $("#cash_course").val()
        };

        $.ajax({
            method: 'POST',
            type: 'POST',
            url: '/transfers/put/',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(JSONObject1),
            dataType: 'json',
            async: true,
            success: function (result) {
                alert('success!');
            }
        });
        location.reload();
    }

    var RestUpdate = function () {

        var JSONObject = {
            "id": $("#upId").val()
            , "name": $("#upName").val()
            , "name2": $("#upName2").val()
            , "name3": $("#upName3").val()
            , "department": $("#upDepartment").val()
            , "position": $("#upPosition").val()
            , "cash_date": $("#upCash_date").val().toString()
            , "date_recruit": $("#upDate_recruit").val().toString()
            , "comments": $("#upComments").val()
            , "rate": $("#upRate").val()
            , "count": $("#upCount").val().replace(",",".")
            , "dinners": $("#upDinners").val()
            , "taxes": $("#upTaxes").val()
            , "overtimes": $("#upOvertimes").val()
            , "bonus": $("#upBonus").val()
            , "another": $("#upAnother").val()
            , "shows": "0"
        };


        $.ajax({
            method: 'POST',
            type: 'POST',
            url: '/person/update/' ,
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(JSONObject),
            dataType: 'json',
            async: true,
            success: function (result) {
                alert('success!');
            }
        });
        document.getElementById('id02').style.display = 'none';
        location.reload();
    }

    var RestPut  = function () {
        var JSONObject = {
            "name": $("#name").val()
            , "name2": $("#2name").val()
            , "name3": $("#3name").val()
            , "department": $("#department").val()
            , "position": $("#position").val()
            , "cash_date": $("#pweek").val().toString()
            , "date_recruit": $("#date_recruit").val().toString()
            , "comments": $("#comment").val()
            , "dinners": $("#dinners").val()
            , "taxes": $("#taxes").val()
            , "overtimes": $("#overtimes").val()
            , "bonus": $("#bonus").val()
            , "another": $("#another").val()
            , "rate": $("#rate").val()
            , "shows": "0"

        };

        //var e = Base64.encode(JSON.stringify(JSONObject));

        $.ajax({
            method: 'POST',
            type: 'POST',
            url: '/person/put/',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(JSONObject),
            dataType: 'json',
            async: true,
            success: function (result) {
                alert('success!');
            }
        });
        document.getElementById('id01').style.display = 'none';
        location.reload();
    }

</script>

<!-- Content -->
<div ng-app="myApp">
    <div class="w3-container">
        $<input type="number" ng-model="ua" ng-init="ua=" width="10px" value=""/>
        <a download="PersonsData.xls" href="#" onclick="return ExcellentExport.excel(this, 'mainTable', 'MainTable');">
            <button>Export to Excel</button>
        </a>

        <div class="w3-center">
            <label>CHI Software personal</label>
        </div>
        <div ng-controller="customersCtrl">
            <div class="w3-responsive w3-card-4">
                <table class="w3-table \-6u(wide) w3-striped w3-bordered w3-display-right">
                    <thead>
                    <tr>
                        <td><input class="w3-input w3-border w3-round" size="4" ng-model="f.id"/></td>
                        <td><input class="w3-input w3-border w3-round" ng-model="f.name"/></td>
                        <td><select class="form-control" ng-model="f.department">
                            <option></option>
                            <option>.NET</option>
                            <option>ACCOUNTANT</option>
                            <option>ANDROID</option>
                            <option>BUSINESS ANALYST</option>
                            <option>CTO</option>
                            <option>DB</option>
                            <option>DESIGNER</option>
                            <option>ENGLISH TEACHER</option>
                            <option>IOS</option>
                            <option>JAVA</option>
                            <option>JAVA SCRIPT</option>
                            <option>CONTENT WRITER </option>
                            <option>NODE JS</option>
                            <option>OFFICE MANAGER</option>
                            <option>PHP</option>
                            <option>PM</option>
                            <option>PYTHON</option>
                            <option>QA</option>
                            <option>RECRUTER</option>
                            <option>RUBY</option>
                            <option>SALES</option>
                            <option>SYSTEM ADMIN</option>
                            <option>DRIVER</option>
                            <option>SECURITY</option>
                        </select></td>
                        <td><select class="form-control" ng-model="f.position">
                            <option></option>
                            <option>Intern</option>
                            <option>Junior</option>
                            <option>Middle</option>
                            <option>Senior</option>
                            <option>Team Lead</option>
                        </select></td>
                        <td></td>
                        <td><select class="form-control" ng-model="f.cash_date">
                            <option></option>
                            <option>I</option>
                            <option>10</option>
                            <option>15</option>
                            <option>25</option>
                        </select></td>
                        <td><input class="w3-input w3-border w3-round" size="6" ng-model="f.cash_back"/></td>
                        <td></td>
                        <td><input class="w3-input w3-border w3-round" size="5" ng-model="f.rate"/></td>
                        <td><input class="w3-input w3-border w3-round" size="4" ng-model="f.count"/></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody id="mainTable">
                    <tr class="w3-theme">
                        <th>id</th>
                        <th>Full Name</th>
                        <th>Department</th>
                        <th>Position</th>
                        <th>Date Recruit</th>
                        <th>Cash Date</th>
                        <th>Cash Back</th>
                        <th>Comments</th>
                        <th>Rate $</th>
                        <th>Rate UAH</th>
                        <th>Balance</th>
                        <th>Edit</th>
                        <th>Un Delete</th>
                    </tr>
                    <tr ng-repeat="x in names | orderBy :'id' |  filter:f">
                        <td>{{ x.id }}</td>
                        <td>{{ x.name2}} {{ x.name}} {{ x.name3}}</td>
                        <td>{{ x.department}}</td>
                        <td>{{ x.position}}</td>
                        <td>{{ x.date_recruit }}</td>
                        <td>{{x.cash_date}}</td>
                        <td>{{ x.cash_back*ua}} UAH</td>
                        <td>
                            <a href="#" ng-show="showMe(x.comments)" data-toggle="tooltip" title="{{x.comments}}" >
                                <span class="glyphicon glyphicon-comment" ng-click="comFunction(x.comments)"></span>
                            </a>
                        </td>
                        <td>{{ x.rate}} $</td>
                        <td>{{ x.rate*ua}} UAH</td>
                        <td>{{ x.count}}</td>
                        <td><a href="#" ng-click="updateFunction(x)">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a></td>
                        <td><a href="#" ng-click="UnDeleteFunction(x.id)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <script src="w3/excellentexport.js"></script>

        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
        <script>
            var app = angular.module('myApp', []);
            app.controller('customersCtrl', function ($scope, $http) {
                $http.get("/person/deleted")
                        .then(function (response) {
                            $scope.names = response.data;
                        });
                $scope.UnDeleteFunction = function (id) {
                    $http.get("/person/undelete/" + id);
                    location.reload();
                }
                $scope.comFunction = function (comments) {
                    alert(comments);
                }
                $scope.showMe = function (comments) {
                    if (comments != "") {
                        return true;
                    }
                    else {
                        return false;
                    }
                }
                $scope.updateFunction = function (x) {
                    document.getElementById("upId").value = x.id;
                    document.getElementById("upName").value = x.name;
                    document.getElementById("upName2").value = x.name2;
                    document.getElementById("upName3").value = x.name3;
                    document.getElementById("upDepartment").value = x.department;
                    document.getElementById("upPosition").value = x.position;
                    document.getElementById("upDate_recruit").value = x.date_recruit;
                    document.getElementById("upCash_date").value = x.cash_date;

                    document.getElementById("upComments").value = x.comments;
                    document.getElementById("upRate").value = x.rate;
                    document.getElementById("upCount").value = x.count;

                    document.getElementById("upDinners").value = x.dinners;
                    document.getElementById("upTaxes").value = x.taxes;
                    document.getElementById("upOvertimes").value = x.overtimes;
                    document.getElementById("upBonus").value = x.bonus;
                    document.getElementById("upAnother").value = x.another;

                    document.getElementById('id02').style.display = 'block';
                }

            });
        </script>
        <hr/>
    </div>
</div>


<footer class="w3-container w3-theme-dark">
    <h3></h3>
    <p>© All rights reserved by CHI Software.
    <div style="position:relative;bottom:25px;" class="w3-tooltip w3-right">
        <span class="w3-text w3-theme-light w3-padding">Go To Top</span> 
        <a class="w3-text-white" href="#myHeader"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
    </div>
    </p>
</footer>


<!--<script>-->
<!--// Slideshows-->
<!--var slideIndex = 1;-->

<!--function plusDivs(n) {-->
<!--slideIndex = slideIndex + n;-->
<!--showDivs(slideIndex);-->
<!--}-->

<!--function showDivs(n) {-->
<!--var x = document.getElementsByClassName("mySlides");-->
<!--if (n > x.length) {-->
<!--slideIndex = 1-->
<!--}-->
<!--if (n < 1) {-->
<!--slideIndex = x.length-->
<!--}-->
<!--;-->
<!--for (i = 0; i < x.length; i++) {-->
<!--x[i].style.display = "none";-->
<!--}-->

<!--}-->

<!--showDivs(1);-->

<!--</script>-->
</body>
</html>